.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-bg-main);
}

.main {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.canvas {
    flex: 1;
    position: relative;
    background: var(--color-bg-main);
}